//   TYPOGRAPHIE
body{
    
    font-family: 'Alata', sans-serif;
    font-size: 1.5rem;
	font-weight: 400;
	line-height: calc(25 / 15);

}

:is(h1, h2, h3) {
    font-family: 'Josefin Sans', serif;
    font-size: 4rem;
    font-weight: 300;
    line-height: calc(38 / 40);
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: white;
}

// h2{
//     text-align: center;
// };

img{
    display: block;
};

.container {
    margin-inline: clamp(2.4rem, calc(-2.2rem + 13vw), 16.5rem) ;
    // margin-right: clamp(2.4rem, calc(-1.60rem + 13.2vw), 16.5rem);

    // @media (min-width: 991px) {
    //     // padding: 0 16.4rem;
    // }
}
// *************************************