@import "../css/_reset";
@import "../css/_helper";
@import "../css/_font-family";
@import "../css/_custom-properties";
@import "../css/_typographie";
@import "../css/_screens-responsive";

// ************ HEADER *************

.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    height: 100vh;
    display: grid;
    align-items: center;
    

    .header{
        background-color: red;
        position: absolute;
        top: clamp(4rem, calc(2rem + 2.3vw) , 6.4rem);
        display: flex;
        justify-content: space-between;
        align-items: center;



        &__nav{



            &--menu{

                display: none;
            }
        }

    }

    &--title{
        // background-color: red;
        color: $white;
        font-size: clamp(2.5rem, calc(1.8rem + 3vw), 7.2rem);
        border: 2px solid $white;
        padding: clamp(2.4rem,1.1rem + 1.5vw , 4rem) ;
        max-width: 65rem;
    }
    
}
