*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

h2{
    font-size: 2.5em;
    text-align: center;
}

.main-header{
    position: relative;
    height: 100vh;
    width: 100vw; 
    background: url("./img/mobile/image-hero.jpg") no-repeat center top;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 40px 24px;

    .logo{ 
        background: none; 
     }

     .main-nav{

        .toggle-menu{
            background-color: transparent;
        }

        .menu{
            display: none;

            &-item{
                
            }
        }
     }

     .page-title{
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid white;
        padding: 26px 24px;
        font-size: 3rem;
        width: 90%;
        max-width: 650px;
        }
}

.slogan{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 24px auto;
    

    &--img{
        text-align: center;
        
        img{
            width: 100%; 
            object-fit: cover;
        }
    }

    &--title{
        margin: 16px auto;
        text-transform: uppercase;
    }

    p{
        margin: auto 24px;
        text-align: justify;
        font-size: 15px;
    }
    
}

.creation{
    // background-color: green;
    margin: 96px 24px auto;

    &--title{
        text-transform: uppercase;
        font-weight: 100;
        margin-bottom: 48px;
    }

    &--article{
        // background-color: red;
        position: relative;
        margin-bottom: 24px;
        img{
            width: 100%; 
            height: 100%;
            object-fit: cover;
        }
        h3{
            // background-color: green;
            position: absolute;
            font-size: 2rem;
            bottom: 20px;
            left: 20px;
            color: white;
            width: 40%;
        }
    }

    &--seeAll{
        margin: 34px auto;
        font-size: 1.5rem;
        padding: 15px 48px;
        text-align: center;
        letter-spacing: 5px;
        background:none;
        text-transform: uppercase;
        border: 1px solid black;
        width: 60%;
        cursor: pointer;
        
    }
}


.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 50px;

    &--left{
        &__logo{
            // margin-bottom: 32px;
        }

        &__main-nav{
            text-align: center;
            padding: 32px;;

            .menu-item{
                margin: 16px auto;
               } 
            
        }
    }

    &--right{
        // background-color: red;
        text-align: center;

        &__social-media{
            margin-bottom: 16px;
            a{
                margin: auto 16px;
            }
        }

        p{
            color: white;
            font-size: 1rem;
        }
    }
}





