* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-size: 2.5em;
  text-align: center;
}

img {
  display: block;
}

.hero {
  height: 100vh;
  width: 100vw;
  background: url("./img/mobile/image-hero.jpg") no-repeat center top;
  background-size: cover;
}
.hero .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 24px;
}
.hero .main-header .logo {
  background: none;
  z-index: 1;
}
.hero .main-header .main-nav {
  align-items: center;
}
.hero .main-header .main-nav .toggle-menu {
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 700px) {
  .hero .main-header .main-nav .toggle-menu {
    display: none;
  }
}
.hero .main-header .main-nav .menu-container {
  left: 0;
  top: 0;
  background-color: black;
  display: flex;
  align-items: center;
  z-index: 0;
}
@media (max-width: 700px) {
  .hero .main-header .main-nav .menu-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
  }
}
@media (min-width: 700px) {
  .hero .main-header .main-nav .menu-container {
    background: transparent;
  }
}
.hero .main-header .main-nav .menu-container.show {
  display: none;
}
@media (min-width: 700px) {
  .hero .main-header .main-nav .menu-container.show {
    display: block;
  }
}
.hero .main-header .main-nav .menu-container .menu {
  margin-left: 24px;
}
@media (min-width: 700px) {
  .hero .main-header .main-nav .menu-container .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.hero .main-header .main-nav .menu-container .menu-item {
  margin: 24px auto;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (min-width: 700px) {
  .hero .main-header .main-nav .menu-container .menu-item {
    padding: 0 10px;
    font-size: 15px;
  }
}

.page-title {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  padding: 26px 24px;
  font-size: 3rem;
  width: 90%;
  max-width: 650px;
  z-index: -2;
}

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 96px 24px auto;
}
.slogan--img {
  text-align: center;
}
.slogan--img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slogan--title {
  margin: 16px auto;
  text-transform: uppercase;
}
.slogan p {
  margin: auto 24px;
  text-align: justify;
  font-size: 15px;
}

.creation {
  margin: 96px 24px auto;
}
.creation--title {
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 48px;
}
.creation--article {
  background-color: red;
  position: relative;
  margin-bottom: 24px;
}
.creation--article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.creation--article h3 {
  position: absolute;
  font-size: 2rem;
  bottom: 20px;
  left: 20px;
  color: white;
  width: 40%;
}
.creation--seeAll {
  margin: 34px auto;
  font-size: 1.5rem;
  padding: 15px 48px;
  text-align: center;
  letter-spacing: 5px;
  background: none;
  text-transform: uppercase;
  border: 1px solid black;
  width: 60%;
  cursor: pointer;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 50px;
}
.footer--left__main-nav {
  text-align: center;
  padding: 32px;
}
.footer--left__main-nav .menu-item {
  margin: 16px auto;
}
.footer--right {
  text-align: center;
}
.footer--right__social-media {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.footer--right__social-media a {
  margin: auto 10px;
}
.footer--right p {
  color: white;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */